<div class="flex-block">
  <iframe title="Libsyn Player" style="border: none" 
    src="https://html5-player.libsyn.com/embed/episode/id/25253637/height/90/theme/custom/thumbnail/yes/direction/backward/render-playlist/no/custom-color/87A93A/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
  </div>


<div class="flex-block">
  <audio id="hyperplayer" class="hyperaudio-player" style="z-index: 5000000; position:relative; width:100%" 
    type="audio/mp3" controls></audio>
  </div>

<div class="flex-fill-y scroll dashed-bottom">
  <div id="hypertranscript" class="hyperaudio-transcript">
    <div data-media-type="audio/mp3"
      crossorigin="anonymous" 
      data-media-src=""></div>

      <header><a href="https://podcast.duolingo.com/episode-84-paris-visite-du-marais">
        Episode 84: Paris - Visite du Marais</a>
      </header>
        <article class="lang">
          <p><span data-m="3513" lang="EN">
            Ngofeen: It’s a warm spring morning in Paris, and Pascal Fonquernie is sipping a coffee by his living room window. For over 40 years, he’s lived in le Marais district on an old street called rue Charlot. It dates back to the 1600s, and like many streets from the time, it’s incredibly narrow. From his window, Pascal can see directly into the apartment of his neighbor across the street.
          </span></p>
        
          <p><span data-m="0:35" lang="FR">
            Pascal: Dans mon quartier, les rues sont très étroites. La rue où j'habite mesure seulement six mètres de large. Donc, quand je vois mon voisin d’en face, je finis toujours par lui parler. Je lui dis, par exemple : « Ah c’est sympa votre décoration ! » ou « Bravo pour vos jolies fleurs ! ». C’est comme un petit village, mais dans Paris.
          </span></p>
        
          <p><span data-m="58303" lang="EN">
            Ngofeen: Pascal’s neighborhood is called Le Marais. It’s the former royal district, where the Kings and Queens of France once lived. Pascal is an architecture buff, so he often marvels at the old streets and buildings. But what he loves most about the neighborhood is that it feels like a small town. Even though it's in the middle of a big city, small businesses, les petits commerces, bring people together.
          </span></p>
        
          <p><span data-m="01:25" lang="FR">
            Pascal: Grâce aux petites rues, les rencontres entre les habitants du quartier se font facilement, et ça permet aux voisins de se connaître. Il y a des petites boutiques, des cafés sympas, des salles de spectacle, et de bons restaurants… Tous ces petits commerces rendent le quartier très vivant.
          </span></p>
        
          <p><span data-m="112581" lang="EN">
            Ngofeen: Pascal loves his neighborhood so much that in 2000, he founded PARISMARAIS.com, a website, travel guide, and neighborhood map intended to be the definitive guide of where to eat, where to shop, and what to see in Le Marais. Today, we’ll follow Pascal to some of his favorite spots in the neighborhood to learn about its unique history and the different communities who live there.
          </span></p>
        
          <p><span data-m="138000" lang="FR">
            Pascal: J’aime le Marais depuis des années, et je ne pourrais pas m’imaginer vivre ailleurs. Je veux partager mon amour pour ce quartier avec le monde entier.
          </span></p>
        
          <p><span data-m="151738" lang="EN">
            Ngofeen: Bienvenue and welcome to the Duolingo French Podcast — I’m Ngofeen Mputubwele. We’ve heard from you, our listeners, about how you love to travel and discover new places… So, we’re dedicating a whole season to exploring one of the most charming and historic cities in the world: Paris. This season, we’ll follow locals into some of the city's most vibrant neighborhoods. We’ll get to explore the iconic landmarks, tastes, and sounds that make up the city of Paris. Pascal will be using intermediate French and I will be chiming in for context in English. If you miss something, you can always skip back and listen again — we also offer full transcripts at podcast.duolingo.com. And for this special season, you’ll be able to find images of each tour on our site. Now onto the episode.
          </span></p>
        
          <p><span data-m="204788" lang="EN">
            Ngofeen: The name “Marais” comes from the French word for “marsh,” because of the wet, soggy ground the neighborhood was built on. As a result, they couldn’t build metro stations underneath because the ground was too unstable, instable. To Pascal, this separates Le Marais from the newer neighborhoods that surround it.
          </span></p>
        
          <p><span data-m="224000" lang="FR">
            Pascal: Le sol sous le quartier du Marais est instable, alors il n’est pas traversé par les lignes du métro parisien. Les stations de métro entourent le Marais, mais ne sont pas à l’intérieur. Donc le quartier est un peu une enclave, séparée du reste de la ville.
          </span></p>
        
          <p><span data-m="245594" lang="EN">
            Ngofeen: To Pascal, Le Marais has always felt like a bit of an enclave, and at the heart of the neighborhood is a beautiful square: La Place des Vosges. It’s our first stop today, and one of Pascal’s favorite squares in all of Paris, with a classic garden, and rows of trees, des rangées d’arbres.
          </span></p>
        
          <p><span data-m="264899" lang="FR">
            Pascal: La place des Vosges est l’une des plus vieilles places de Paris. Les bâtiments tout autour forment une place carrée parfaite, et au milieu, il y a un petit parc, le square Louis XIII. C’est un jardin typiquement français, avec deux rangées d’arbres et quatre fontaines. Au centre de ce parc, il y a la statue du roi Louis XIII.
          </span></p>
        
          <p><span data-m="293006" lang="EN">
            Ngofeen: When Pascal first moved to Le Marais in 1981, he was in awe of la Place des Vosges. There’s a painting of this square on display at one of Pascal’s favorite museums, le musée Carnavalet. But walking through the real thing was like stepping back in time.
          </span></p>
        
          <p><span data-m="312411" lang="FR">
            Pascal: Quand j’étais plus jeune, j’étais fasciné par les peintures du Paris historique que j’avais vues au musée d'histoire de Paris, le musée Carnavalet. En me promenant Place des Vosges, je voyais les immeubles exactement comme ils étaient au 17e siècle. C’était comme entrer dans un livre d’histoire.
          </span></p>
        
          <p><span data-m="336601" lang="EN">
            Ngofeen: The square was commissioned in the early 1600s by French king Henri IV. It was the site of royal tournaments, parades, and celebrations.
          </span></p>
        
          <p><span data-m="347554" lang="FR">
            Pascal: L’architecture de la place n’a pas changé depuis 1612. C’est un des plus beaux exemples de l’architecture de l’époque. La place est entourée de 28 immeubles de style identique. On les reconnaît très facilement, avec leurs grands toits gris et leurs façades rouges et blanches, en brique et en pierre de taille. Deux immeubles sont plus hauts que les autres : le Pavillon du Roi, au sud, et le Pavillon de la Reine, au nord.
          </span></p>
        
          <p><span data-m="384192" lang="EN">
            Ngofeen: The 28 buildings are all made of red brick with rows of pierre de taille, blocks of limestone that, today, are a signature feature of Parisian architecture. The buildings are all linked by sidewalks protected by tall stone arches.
          </span></p>
        
          <p><span data-m="402458" lang="FR">
            Pascal: Au 17e siècle, ces trottoirs couverts permettaient aux habitants de sortir des immeubles et de se promener autour de la place en se protégeant de la pluie, du soleil… Ou pire, pour se protéger des déchets jetés par les fenêtres des immeubles.
          </span></p>
        
          <p><span data-m="420959" lang="EN">
            Ngofeen: The covered sidewalks around the square are home to art galleries, antique stores, a museum dedicated to the life of writer Victor Hugo, and several cafés. For a morning treat, Pascal recommends grabbing a pastry at café Mulot in the south of the square, then heading to a small door tucked away under an arcade in the southwest corner.
          </span></p>
        
          <p><span data-m="444894" lang="FR">
            Pascal: De l’extérieur, on ne voit qu’une petite porte assez discrète. Mais quand on pousse la porte, tout à coup, on se retrouve dans un magnifique jardin typiquement français, avec au fond l’Hôtel de Sully, un hôtel particulier du 17e siècle.
          </span></p>
        
          <p><span data-m="464463" lang="EN">
            Ngofeen: Hôtels particuliers are elegant private residences that were once the home of Parisian nobility, and there are many scattered around Le Marais. Today, many have been converted into chic office buildings or museums. To Pascal, the lovely public garden of l’Hôtel de Sully is one of the neighborhood’s hidden gems.
          </span></p>
        
          <p><span data-m="485356" lang="FR">
            Pascal: Ce jardin n’est pas très connu des touristes. Mais moi, je pense que c’est l’une des plus jolies visites que l’on puisse faire dans le Marais.
          </span></p>
        
          <p><span data-m="497380" lang="EN">
            Ngofeen: La Place des Vosges and its surrounding gardens are a wonderful place to spend a relaxing morning. And if you linger until lunchtime, you can head to one of Pascal’s favorite restaurants in the neighborhood. It’s called La Place Royale, after the square’s original name. Whenever he goes there, Pascal has a running joke with Charly, the head waiter.
          </span></p>
        
          <p><span data-m="520257" lang="FR">
            Pascal: Je lui demande toujours une table « en première classe, avec vue sur la mer ». C’est une façon amusante de demander une table avec vue sur la place. Quel meilleur endroit pour apprécier un excellent repas qu’une table avec vue sur la plus belle place de Paris ?
          </span></p>
        
          <p><span data-m="542344" lang="EN">
            Ngofeen: When Pascal first arrived in Le Marais, the neighborhood was not the chic, trendy place it is today. Nowadays, hip restaurants and luxury shops line the main commercial streets. But in the 1970s, many of the old buildings were dilapidated, délabrés, or occupied by squatters, des squatteurs. Rent in the neighborhood was very affordable.
          </span></p>
        
          <p><span data-m="567678" lang="FR">
            Pascal: Dans le passé, le Marais était un quartier pauvre et délabré. Il y avait des immeubles abandonnés qui étaient occupés par des squatteurs. Mais il y avait aussi des petits hôtels pas chers, où les ouvriers pouvaient louer une chambre au mois. C’était un quartier refuge.
          </span></p>
        
          <p><span data-m="588288" lang="EN">
            Ngofeen: Le Marais has long been known as a haven for marginalized and persecuted communities. Over the centuries, many generations of Parisians and immigrants have taken refuge here. For our next stop, Pascal is taking us to an area of Le Marais known as the Jewish Quarter. It’s about a 5-minute walk from la Place des Vosges, on a narrow street called rue des Rosiers, a shopping street, or rue commerçante.
          </span></p>
        
          <p><span data-m="615575" lang="FR">
            Pascal: La Rue des Rosiers est très connue, et elle est toujours pleine de monde. Elle a quelque chose que les autres rues commerçantes de Paris n’ont pas : certaines boutiques sont fermées le samedi, et ouvertes le dimanche.
          </span></p>
        
          <p><span data-m="631433" lang="EN">
            Ngofeen: Shops on rue des Rosiers and the surrounding streets are closed on Saturday, in observance of the Jewish Sabbath. They’re part of Paris’ oldest Jewish neighborhood, known as the Pletzl, the Yiddish word for “little square.”
          </span></p>
        
          <p><span data-m="644938" lang="FR">
            Pascal: En réalité, le “Pletzl” est un petit quartier entouré de quatre rues. Il y a plusieurs communautés juives qui sont arrivées dans le Marais les unes après les autres, pendant des siècles.
          </span></p>
        
          <p><span data-m="659778" lang="EN">
            Ngofeen: For centuries, European Jews saw France as a safe haven. But during World War II, it no longer was. Thousands of Jewish families were deported after a surprise raid known as “la rafle du Vel’ d’Hiv.” Every year in July, residents gather in le Marais to remember that painful time.
          </span></p>
        
          <p><span data-m="682573" lang="FR">
            Pascal: Chaque année, le 16 juillet, les habitants du quartier se réunissent dans le square du Temple pour honorer la mémoire des Juifs du Marais ; ceux qui ont été arrêtés et déportés pendant la rafle du Vel d’Hiv. C’est une période terrible de l’histoire du quartier.
          </span></p>
        
          <p><span data-m="705131" lang="EN">
            Ngofeen: After the war, many Jewish people from Eastern Europe and the Middle East settled in France and they rebuilt a vibrant community. By the time Pascal made his home in Le Marais in the early 80s, la rue des Rosiers buzzed with Jewish people shopping for books in tiny bookstores and traditional delicacies in Jewish bakeries and kosher butchers, des boucheries cachères.
          </span></p>
        
          <p><span data-m="727493" lang="FR">
            Pascal: Dans les années 80, le Marais était vraiment un quartier juif, avec une communauté très active et très présente. Il y avait des boulangeries et des boucheries cachères, plusieurs synagogues, et des librairies juives. En 1998, Le Musée d'Art et d'Histoire du Judaïsme a ouvert ses portes dans le quartier. C’est le plus grand musée français sur l'art et l'histoire des peuples juifs.
          </span></p>
        
          <p><span data-m="763184" lang="EN">
            Ngofeen: But The Jewish quarter has changed dramatically since then. Now, only a handful of kosher shops remain in the Pletzl.
          </span></p>
        
          <p><span data-m="771227" lang="FR">
            Pascal: Depuis quarante ans, les commerces ont beaucoup changé dans la rue des Rosiers. Il reste quelques pâtisseries juives traditionnelles, mais le reste, ce sont surtout des boutiques de vêtements et des restaurants de falafels.
          </span></p>
        
          <p><span data-m="789626" lang="EN">
            Ngofeen: Rising rents and gentrification have gradually pushed out many traditional Jewish businesses. Still, today Pascal notices a strong resilience and a sense of Jewish pride in the businesses that remain. Jewish bakeries paint their storefronts in bright colors. One proudly displays a large gold menorah in the shop window. And the most popular falafel joints, like L’As du Falafel, often have lines around the block!
          </span></p>
        
          <p><span data-m="819231" lang="FR">
            Pascal: Il y a toujours beaucoup de monde qui vient manger des falafels ! Mais il y a aussi une librairie juive, et plusieurs petites synagogues secrètes… On sent que l’histoire juive reste présente dans ces rues.
          </span></p>
        
          <p><span data-m="834921" lang="EN">
            Ngofeen: New Jewish-owned businesses are also popping up. Like Alfi, a hip new deli inspired by Tel Aviv street food. It’s rapidly gaining a loyal following.
          </span></p>
        
          <p><span data-m="845900" lang="FR">
            Pascal: Mais si la rue des Rosiers a beaucoup changé, des endroits comme Alfi montrent qu’il y a une nouvelle génération de commerçants juifs qui continue la tradition.
          </span></p>
        
          <p><span data-m="860276" lang="EN">
            Ngofeen: Next, we'll follow Pascal a few blocks east to another distinctive and historic part of le Marais: its LGBTQ community. The area is known as le quartier gay de Paris, the Gay quarter. It spans a few large streets clustered around a tiny, elbow-shaped one, la rue Sainte-Croix de la Bretonnerie.
          </span></p>
        
          <p><span data-m="882828" lang="FR">
            Pascal: Quand on arrive dans cette partie du Marais en juin, le mois de la Pride, on voit des drapeaux LGBT partout : devant les boutiques, sur les trottoirs, et aux fenêtres. C’est une ambiance très festive !
          </span></p>
        
          <p><span data-m="901361" lang="EN">
            Ngofeen: In the 70s and 80s, real estate costs in Le Marais were still low, attracting artists, creative types and fringe communities, des marginaux.
          </span></p>
        
          <p><span data-m="911695" lang="FR">
            Pascal: Le premier bar gay du Marais a ouvert ses portes en 1978. Il s'appelait Le Village. Les artistes, les gens du spectacle, les gays et tous les marginaux sont venus vivre dans les petits logements du quartier qui étaient encore bon marché.
          </span></p>
        
          <p><span data-m="931351" lang="EN">
            Ngofeen: With the new residents arrived Paris’ first LGBTQ bookstore, Les Mots à la Bouche, a cultural landmark. Gay performers and comedians, des humoristes, began performing on stage at local cafés and attracting crowds. That’s where Pascal first discovered Le Marais’ nightlife, la vie nocturne.
          </span></p>
        
          <p><span data-m="954468" lang="FR">
            Pascal: J’ai découvert la vie nocturne du Marais grâce aux cafés-théâtres. C’était le lieu où l'on pouvait assister à des créations théâtrales ou musicales alternatives. De jeunes musiciens y donnaient des spectacles, et des humoristes venaient tester leurs blagues en public. La plupart des cafés-théâtres étaient minuscules : une petite scène de trois mètres de large, avec quelques tables et des chaises tout autour. C’est là que j’ai découvert Sylvie Joly, la première femme humoriste de France.
          </span></p>
        
          <p><span data-m="954468" lang="EN">
            Ngofeen: Pascal loves these intimate dinner-shows — the closeness between performers and audience, the energy, the laughs. But what he loves the most is that people don’t take themselves too seriously. The evenings have a light-hearted, tongue-in-cheek feel.
          </span></p>
        
          <p><span data-m="1008769" lang="FR">
            Pascal: C’est tellement français. Pour moi, la difference entre la scène gay parisienne et celles des autres grandes villes du monde, c’est cette ambiance décontractée et un peu « village » qui existe encore.
          </span></p>
        
          <p><span data-m="1008769" lang="EN">
            Ngofeen: One of these cafés-théâtres is where Pascal first met a fixture of Paris’ gay nightlife, a comedian and singer known as Vartoch who does hilarious song parodies. Another entertainer Pascal loves is called DJ Hervé. He organizes parties called Les Follivores featuring French hits from the 70s.
          </span></p>
        
          <p><span data-m="1047314" lang="FR">
            Pascal: Aux Follivores, il y a de la musique rétro, comme celle des chanteurs Claude François et Sylvie Vartan. Mais tout le monde vient danser, même les jeunes de 18 à 30 ans. Ils n’ont jamais connu Claude François, mais ils dansent et chantent toute la nuit sur sa musique.
          </span></p>
        
          <p><span data-m="1068023" lang="EN">
            Ngofeen: On warmer evenings, parties in the Gay quarter frequently spill out into the street.
          </span></p>
        
          <p><span data-m="1074033" lang="FR">
            Pascal: Certaines nuits d’été, la rue Sainte-Croix de la Bretonnerie est fermée aux voitures. Les magasins jouent de la musique, et les gens dansent dans la rue ! Dans le Marais, si on en a envie, on peut s’amuser toute la nuit !
          </span></p>
        
          <p><span data-m="1093626" lang="EN">
            Ngofeen: After a long night out, Pascal might take an early walk to the north of Le Marais, where we’ll find our final stop: a French market that encapsulates the neighborhood’s multicultural community spirit. On a street called rue de Bretagne is the oldest food market in Paris. A green, wrought-iron gate opens onto a maze of stalls, restaurants, and cafés that fills an entire block. It’s called le Marché des Enfants Rouges because there used to be a nearby children’s orphanage, un orphelinat.
          </span></p>
        
          <p><span data-m="1130035" lang="FR">
            Pascal: Le Marché des Enfants Rouges a été créé en 1610. On lui a donné ce nom parce que dans le passé, il y avait un orphelinat dont les enfants portaient tous des vêtements rouges, pour les retrouver facilement dans la foule. J’aime beaucoup ce marché parce qu’on y trouve le monde entier.
          </span></p>
        
          <p><span data-m="1154189" lang="EN">
            Ngofeen: At Le Marché des Enfants Rouges, you can buy fresh produce and grab a bite to eat. The options are endless: the market has everything from Moroccan couscous to brick-oven pizza to fresh raw oysters. But today, Pascal heads past the seasonal fruit and vegetables, and into a small non-profit café, un café associatif, in the far corner of the market: le Troisième Café.
          </span></p>
        
          <p><span data-m="1180832" lang="FR">
            Pascal: J’aime beaucoup le Troisième Café. Ce petit café associatif propose des repas aux personnes qui ont peu d’argent. On peut manger un menu à trois plats pour 12 euros seulement. Quand j’y vais avec mes amis, on peut acheter des cafés ou des plats qu’on appelle “suspendus”.
          </span></p>
        
          <p><span data-m="1200298" lang="EN">
            Ngofeen: Un plat suspendu is a dish that you buy, not for yourself, but in advance — to pay it forward for a needy customer who might walk into the café. The tradition came from Belgium, and places like le Troisième Café are embracing it in the Marais spirit of community.
          </span></p>
        
          <p><span data-m="1217002" lang="FR">
            Pascal: Ce sont des exemples de solidarité et de partage entre voisins que l’on ne trouve vraiment pas partout. Ils représentent ce que j’aime le plus du Marais : son esprit de communauté, de tradition et de diversité. C’est pour cela que je ne peux pas m’imaginer vivre ailleurs.
          </span></p>
        
          <p><span data-m="1241486" lang="EN">
            Ngofeen: Pascal Fonquernie is a travel writer based in Le Marais and the founder of ParisMarais.com. He lives in Paris, France. This story was produced by Adonde Media’s Lorena Galliot. We'd love to know what you thought of this episode! You can write us an email at podcast@duolingo.com and call and leave us a voicemail or audio message on WhatsApp, at +1-703-953-93-69. Don’t forget to say your name and where you are from! Here’s a message we recently got from Allie in Pennsylvania:
          </span></p>
        
          Allie: Hi, my name is Allie Seim, and I was actually just listening to the French podcast. The episode that I was listening to was the one about summer vacation, and I'm leaving on summer vacation in about three days, and we're going to be gone for a month. And I really love that one for getting excited about going on vacation.
        
          <p><span data-m="0" lang="EN">
            Ngofeen: Thank you, Allie! We hope you had a nice vacation and that this season will inspire more travel all around! If you liked this story, please share it! You can find the audio and a transcript of each episode at podcast.duolingo.com. You can also follow us on Apple Podcasts or on your favorite listening app, so you never miss an episode. With over 500 million users, Duolingo is the world's leading language learning platform, and the most downloaded education app in the world. Duolingo believes in making education free, fun and available to everyone. Download the app today, or find out more at duolingo.com. The Duolingo French Podcast is produced by Duolingo and Adonde Media. I’m your host, Ngofeen Mputubwele, à la prochaine !*
          </span></p>
          Credits
        
          This episode was produced by Duolingo and Adonde Media.
        
          Narrator & Protagonist: Pascal Fonquernie
          Producer: Lorena Galliot
          Assistant Producer: Justine Hagard
          Managing Editor: Natacha Ruck
          Audio Editor & Sound Designer: Samia Bouzid
          Supervising Sound Designer, Mixing & Mastering: Laurent Apffel
          Production Coordinator: Nicolás Sosa
          Production Manager: Román Frontini
          Executive Producer: Martina Castro
              </article>
  </div>
</div>

<div class="flex-block bottom">
  <div class="footer">
    <!-- Rounded switch -->
    <label class="switch">
      <input id="set_lang" type="checkbox">
      <span class="slider round"></span>
    </label>
    <form id="searchForm" style="float:right">
      Playback Rate <span id="currentPbr">1</span><input id="pbr" type="range" value="1" min="0.5" max="3" step="0.1" style="width:50px">
    </form>
  </div>
</div>  